In [33]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'/content/Clean_Dataset.csv')

In [27]:
df.isnull().sum()

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [8]:
df.sample(4)

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
263654,263654,Air_India,AI-770,Kolkata,Night,zero,Night,Delhi,Business,2.50,44,28510
30818,30818,Vistara,UK-951,Delhi,Afternoon,one,Night,Hyderabad,Economy,6.58,18,5772
224190,224190,Air_India,AI-805,Delhi,Evening,one,Morning,Chennai,Business,14.92,38,45257
145387,145387,Vistara,UK-720,Kolkata,Early_Morning,one,Morning,Hyderabad,Economy,26.50,27,5632

In [34]:
df = df.drop("Unnamed: 0", axis=1)

In [15]:
df['airline'].nunique()

6

In [35]:
df_encoded = pd.get_dummies(df['airline'])

In [30]:
df1.isnull().sum()

AirAsia      0
Air_India    0
GO_FIRST     0
Indigo       0
SpiceJet     0
Vistara      0
dtype: int64

In [37]:
df = pd.concat([df,df_encoded], axis=1)

In [38]:
df.isnull().sum()

airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
AirAsia             0
Air_India           0
GO_FIRST            0
Indigo              0
SpiceJet            0
Vistara             0
dtype: int64

In [40]:
df = df.drop(["airline", "Vistara"], axis=1)

In [43]:
df[['AirAsia', 'Air_India', 'GO_FIRST', 'Indigo', 'SpiceJet']] = df[['AirAsia', 'Air_India', 'GO_FIRST', 'Indigo', 'SpiceJet']].astype(int)

In [44]:
df.sample(5)

,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price,AirAsia,Air_India,GO_FIRST,Indigo,SpiceJet
269217,AI-747,Kolkata,Night,zero,Late_Night,Bangalore,Business,2.58,33,25470,0,1,0,0,0
19405,AI-665,Delhi,Early_Morning,one,Evening,Bangalore,Economy,10.50,46,4230,0,1,0,0,0
117012,UK-816,Bangalore,Morning,one,Night,Chennai,Economy,11.58,19,9734,0,0,0,0,0
186265,SG-678,Chennai,Early_Morning,one,Night,Delhi,Economy,17.33,41,4827,0,0,0,0,1
32949,G8-211,Delhi,Morning,one,Afternoon,Hyderabad,Economy,6.50,33,4186,0,0,1,0,0

In [45]:
df['flight'].nunique()

1561

In [46]:
df['source_city'].nunique()

6

In [47]:
df['departure_time'].nunique()

6

In [48]:
df['stops'].nunique()

3